/* LowerHeader.css */

.lower-header {
  width: 100%;
  background: #232f3e;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  overflow-x: auto;
  scrollbar-width: none;
}

.lower-header::-webkit-scrollbar {
  display: none;
}

/* menu list */
.lower-header ul {
  display: flex;
  align-items: center;
  gap: 5px;
  list-style: none;
  white-space: nowrap;
}

/* each item */
.lower-header ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.lower-header ul li:hover {
  border: 1px solid white;
}

/* menu icon */
.lower-header ul li:first-child {
  font-weight: bold;
}

.lower-header ul li span {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.lower-header ul li p {
  font-size: 14px;
  font-weight: bold;
}

/* Responsive */

@media (max-width: 768px) {
  .lower-header {
    padding: 0 10px;
    height: 38px;
  }

  .lower-header ul li {
    font-size: 13px;
    padding: 8px;
  }

  .lower-header ul li span {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .lower-header ul li {
    padding: 6px;
    font-size: 12px;
  }
}